body{
    width: 500px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: darkolivegreen;
}

.container{
    width: 600px;
    margin: 0 auto;
    position: absolute;
    left: 100px;
}

fieldset{
    display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.input, p {
    display: block;
    font-weight:300;
    width: 60%;
    font-size: 25px;
    border:0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .input:focus {
    border-bottom:1px solid #ddd;
  }
  .submit-button {
    background-color: transparent;
    font-size: 25px;
    font-style: normal;
    border:2px solid #ddd;
    padding:10px 30px;
    width: 60%;
    min-width: 250px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .submit-button:hover {
    border:2px solid #515151;
  }
  p {
    color: #E64A19;
  }
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}